@font-face { 
    font-family: 'ElMessiri-Regular';     
    src: url('/assets/fonts/el-messiri/ElMessiri-Regular.ttf') format('truetype');
}

@font-face { 
    font-family: 'ElMessiri-Medium';     
    src: url('/assets/fonts/el-messiri/ElMessiri-Medium.ttf') format('truetype');
}

@font-face { 
    font-family: 'ElMessiri-SemiBold';     
    src: url('/assets/fonts/el-messiri/ElMessiri-SemiBold.ttf') format('truetype');
}

@font-face { 
    font-family: 'ElMessiri-Bold';     
    src: url('/assets/fonts/el-messiri/ElMessiri-Bold.ttf') format('truetype');
}

@font-face { 
    font-family: 'Julius-Sans';     
    src: url('/assets/fonts/julius-sans/JuliusSansOne-Regular.ttf') format('truetype');
}

@font-face { 
    font-family: 'Crimson';     
    src: url('/assets/fonts/crimson/CrimsonText-Regular.ttf') format('truetype');
}